<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>


<div>


    <table>
        <legend>
            <strong>用户列表</strong>
        </legend>
        <thead>
        <tr>
            <th>用户编号</th>
            <th>用户名</th>
            <th>手机号</th>
        </tr>
        </thead>
        <tbody>
           <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.mobile}"></td>
           </tr>
        </tbody>
    </table>

</div>



</body>
</html>